<section class='category'>
  <%= link_to admin_path, class: 'category__back_button' do %>
    <i class="fa-solid fa-arrow-left-long category__back_button__left_arrow"></i>Revenir en arrière
  <% end %>
  <% if user_signed_in? %>
    <div class="category__create">
      <%= button_to new_status_path, class: 'category__create__button', :method => "get" do %>
        Nouveau Statut<i class="fa-solid fa-plus category__create__button__plus"></i>
      <% end %>
    </div>
  <% end %>
  <h2 class='category__disclaimer'>Statuts</h2>
  <div class="category__list">
    <% @statuses.each do |status| %>
      <div class="category__list__item">
        <%= link_to status, method: :delete, data: { confirm: 'Are you sure?' }, class: 'category__list__item__delete' do %>
          <i class="fa-solid fa-xmark category__list__item__delete__icon"></i>
        <% end %>
        <h3 class="category__list__item__title"><%= status.name %></h3>
        <%= button_to 'Modifier', edit_status_path(status), class: 'category__list__item__button', :method => "get" %>
      </div>
    <% end %>
  </div>
</section>
