<section class='artwork'>
  <% if user_signed_in? %>
    <div class="artwork__create">
      <%= button_to new_artwork_path, class: 'artwork__create__button', :method => "get" do %>
        Nouvelle Publication<i class="fa-solid fa-plus artwork__create__button__plus"></i>
      <% end %>
    </div>
  <% end %>
  <%= form_tag artworks_path, method: :get, class: 'artwork__filter' do %>
    <%= select_tag "[artworks_filter][technique_id]", options_from_collection_for_select(@techniques, "id", "name"), prompt: 'Technique' %>
    <%= select_tag "[artworks_filter][collection_id]", options_from_collection_for_select(@collections, "id", "name"), prompt: 'Collection' %>
    <%= select_tag "[artworks_filter][year_id]", options_from_collection_for_select(@years, "id", "name"), prompt: 'Année' %>
    <%= select_tag "[artworks_filter][status_id]", options_from_collection_for_select(@statuses, "id", "name"), prompt: 'Statut' %>
    <%= submit_tag "Filtrer" %>
  <% end %>
  <h2 class='artwork__disclaimer'>Cliquez sur les réalisations pour naviguer</h2>
  <div class="artwork__list">
    <% @artworks.each do |artwork| %>
      <%= link_to artwork do %>
        <%= cl_image_tag artwork.photos.first.key, height: 300, width: 400, crop: :fill, class: 'artwork__list__photo' %>
      <% end %>
    <% end %>
  </div>
  <%= will_paginate @artworks, class: 'artwork__page' %>
</section>
