<section class="home">
  <div class="home__text__first">
    <p class='home__text__first__strong'>Bienvenue à « L'écho de mes pinceaux », sur mon site qui voudrait être avant tout un partage de mes passions !</p>
    <div class="home__simpleimage__first">
      <%= image_tag "2022-01-27_Pinceaux-1.jpg" %>
    </div>
    <p>Mon site n'est pas d'abord un site de vente. Certes, il n'en n'exclut pas la question, mais mon ambition est avant tout de faire connaître et d'exposer le travail de mes pinceaux.</p>
    <p>« L'écho de mes pinceaux » est aussi un hommage à vous tous, à tous mes amis, à toutes les rencontres
    proches et lointaines que j'ai pu faire et jusqu'au bout du monde, tous ceux qui m'ont inspirée et aidée du fil du temps, à puiser moi-même aux sources de l'élan créateur.</p>
    <p>C'est un réel plaisir de partager avec vous les joies créatrices d'un univers où la peinture et le dessin ont été mes compagnons depuis toujours. Après avoir consacré une bonne partie de ma vie professionnelle à l'enseignement universitaire et contemplé les œuvres d'art, j'ai eu envie de mettre mes pinceaux à l'œuvre.</p>
    <p>Ce site vient de la question récurrente entendue lors de mes expositions : « où peut-on voir ce que vous faites ? ».</p>
    <p>Il était donc temps de m'y mettre.</p>
    <p>Une marche à suivre très souple vous permet de découvrir les œuvres par dates, collections ou techniques.</p>
    <p>N'hésitez pas à me <u><a href="/contact">contacter</a></u>, ou laisser à votre tour un petit écho à celui de mes pinceaux…</p>
    <p class='home__text__first__strong'>Une grande diversité dans les techniques, les supports et les décors.</p>
    <p>Un univers varié qui me rend inclassable.</p>
    <p>Je dirais même que je suis éclectique. Tout m'intéresse.</p>
  </div>
  <div class="home__image-text__first">
    <div class="home__image-text__first__photo">
      <%= image_tag "A-Chantal.JPG"%>
    </div>
    <div class="home__image-text__first__text">
      <div class="home__image-text__first__text__container">
        <p class='home__image-text__first__text__container__strong'>Cet éclectisme se retrouve dans les techniques utilisées.</p>
        <p>Cela peut être - et j'ai commencé par là - la décoration traditionnelle, dite « peinture paysanne », sur des supports comme le bois, meubles ou objets.</p>
        <p>J'utilise le plus souvent une peinture à la caséine, une peinture naturelle, à base de lait ou yaourt que l'on colore avec des pigments. Onctueuse, elle est très agréable à utiliser et laisse au geste toute souplesse créative.</p>
      </div>
    </div>
  </div>
  <div class="home__image-text__second">
    <div class="home__image-text__second__text">
      <div class="home__image-text__second__text__container">
        <p class='home__image-text__second__text__container__strong'>Eclectisme dans les supports et leurs décors:</p>
        <p>Le métal, les galets, tout se prête facilement au jeu… Rien de plus amusant que de redonner vie à de vieux objets, à des meubles, à transformer les vieux seaux à charbons de nos grands-parents en porte-parapluie décoratifs. Ou les galets, joies de l'Océan de mon enfance, en presse-papiers ludiques et décoratifs..</p>
      </div>
    </div>
    <div class="home__image-text__second__photo">
    <%= image_tag '2018-Galet.JPG'%>
    </div>
  </div>
  <div class="home__two-images">
    <div class="home__two-images__first">
      <%= image_tag 'Armoire-Pharmacie.jpg'%>
    </div>
    <div class="home__two-images__second">
      <%= image_tag 'DSC_7388 copie.JPG'%>
    </div>
  </div>
  <div class='home__simpletext'>
    <p>Au fil des années et des rencontres, des demandes se succèdent : meubles de famille ou trouvailles de brocantes, objets à restaurer, insolites, vintages à rènover ou à recycler…</p>
  </div>
  <div class="home__simpleimage__second">
    <%= image_tag 'Coffre-bateau.JPG'%>
  </div>
  <div class="home__image-text__third">
    <div class="home__image-text__third__photo">
      <%= image_tag '20191201_EXPO.jpg'%>
    </div>
    <div class="home__image-text__third__text">
      <div class="home__image-text__third__text__container">
        <p>Autodidacte et caméléon, je m'adapte et crée des nouvelles techniques pour la réalisation de créations exclusives, uniques et de qualité pour vous ou pour vos proches.</p>
        <p>J'aime tester, rechercher, expérimenter, inventer des techniques mixtes : collages, peintures,</p>
        <p class='home__image-text__third__text__container__tab__first'>Bois, métal, cuir,</p>
        <p class='home__image-text__third__text__container__tab__second'>cailloux, bijoux, joujoux…</p>
        <p class='home__image-text__third__text__container__tab__third'>on peut peindre sur tout , partout, pour tout.</p>
      </div>
    </div>
  </div>
</section>
