<%= simple_form_for @contact, :html=> { class: 'form__container__form' } do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :last_name, wrapper_html: { class: 'form__container__form__input__text' }, input_html: { class: 'form__container__form__input__text__input' }, label_html: { class: 'form__container__form__input__text__label' }, label: 'Nom' %>
  <%= f.input :first_name, wrapper_html: { class: 'form__container__form__input__text' }, input_html: { class: 'form__container__form__input__text__input' }, label_html: { class: 'form__container__form__input__text__label' }, label: 'Prénom' %>
  <%= f.input :e_mail, type: 'email', wrapper_html: { class: 'form__container__form__input__text' }, input_html: { class: 'form__container__form__input__text__input' }, label_html: { class: 'form__container__form__input__text__label' }, label: 'Couriel' %>
  <%= f.input :title, wrapper_html: { class: 'form__container__form__input__text' }, input_html: { class: 'form__container__form__input__text__input' }, label_html: { class: 'form__container__form__input__text__label' }, label: 'Titre' %>
  <div class="form__container__form__input__textarea">
    <label htmlFor='message' class='form__container__form__input__textarea__label'>Message</label>
    <%= f.text_area :message, class: 'form__container__form__input__textarea__input' %>
  </div>
  <%= recaptcha_tags %>
  <%= f.button :submit, class: 'form__container__form__submit', value: 'Publier' %>
<% end %>
