<section class="form">
  <div class="form__container">
    <h1 class='form__container__title'>Formulaire de connexion</h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form__container__form'}) do |f| %>
      <%= f.input :email,
                  required: true,
                  wrapper_html: { class: 'form__container__form__input__text' },
                  input_html: { class: 'form__container__form__input__text__input', autocomplete: "email" },
                  label_html: { class: 'form__container__form__input__text__label' },
                  label: 'Couriel',
                  autofocus: true %>
      <%= f.input :password,
                  required: true,
                  wrapper_html: { class: 'form__container__form__input__text' },
                  input_html: { class: 'form__container__form__input__text__input', autocomplete: "current-password" },
                  label_html: { class: 'form__container__form__input__text__label' },
                  label: 'Mot de passe' %>
      <%= f.button :submit, class: 'form__container__form__submit', value: "Connecter" %>
    <% end %>
    <div class="form__container__links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
